/*
Error: Invalid CSS after "...ort "variables"": expected "{", was ";"
        on line 4 of main.scss

1: ---
2: ---
3: 
4: @import "variables";
5: @import "bootstrap/bootstrap";
6: 
7: 
8: .main {
9:   text-align: center;

Backtrace:
main.scss:4
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:1278:in `expected'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:1208:in `expected'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:1203:in `tok!'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:677:in `block'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:670:in `ruleset'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:696:in `block_child'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:686:in `block_contents'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:137:in `stylesheet'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:41:in `parse'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/engine.rb:414:in `_to_tree'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/exec/base.rb:52:in `parse'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/gems/ruby-2.1.4/gems/sass-3.5.1/bin/scss:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.1.4/bin/scss:22:in `load'
/usr/local/rvm/gems/ruby-2.1.4/bin/scss:22:in `<main>'
/usr/local/rvm/gems/ruby-2.1.4/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.1.4/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ort \"variables\"\": expected \"{\", was \";\"\A         on line 4 of main.scss\A \A 1: ---\A 2: ---\A 3: \A 4: @import \"variables\";\A 5: @import \"bootstrap/bootstrap\";\A 6: \A 7: \A 8: .main {\A 9:   text-align: center;"; }
