---
---

@import "variables";
@import "bootstrap/bootstrap";

.main {
  text-align: center;
  margin: 1em 0 2em 0;

  .date-lead {
    margin-top: 50px;
  }

  .lead {
    margin-top: 0.5em;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    @media (min-width: 768px) {
      font-size: 2.2em;
    }
  }

  .subtitle {
    margin-bottom: 1em;
  }

  .splash--image {
    width: 100%;
    max-width: 800px;
  }

}

.about--section {
  background-image: url("../assets/imgs/about.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 1em 1.5em;
  @media (min-width: 768px) {
    padding: 0 5em;
  }
  h3 {
    text-align: left;
    margin-bottom: 0.5em;
    @media (min-width: 768px) {
      text-align: center;
    }
  }
  p {
    text-align: left;
    @media (min-width: 768px) {
      text-align: center;
    }
  }
}

.events--section {
  margin: 0;
  margin-bottom: 4em;
  button {
    cursor: pointer !important;
  }
}

.venue--section {
  margin: 4em 0;
  h1 {
    margin-bottom: 1em;
    text-decoration: underline;
  }
  h2 {
    font-size: 16px;
  }
  iframe {
    margin: 2em 0;
  }
}

.hd-school-header {
  margin: 3rem 0
}

.hd-school-lead {
  font-weight: normal;
  margin-bottom: 3rem;
}

.speakers--section {
  margin: 4em 0;
  h1 {
    margin-bottom: 1.2em;
    text-decoration: underline;
  }
  img {
    max-width: 100px;
    margin-bottom: 1.2em;
  }
  .grid {
    margin-bottom: 2em;
  }
}

.btn--cusec {
  border: none;
  background: linear-gradient($brand-dark-pink, $brand-blue)
}

.square {
  height: 500px;
  width: 100%;
  padding: 0;
}

.lightningtalks {
  background: $brand-blue;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;

  p {
    font-size: 1em;
    text-align: left;
  }
}

.democamp {
  background: #000000;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  p {
    font-size: 1em;
    text-align: left;
  }
}

.resumeupload {
  background: $brand-blue;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  p {
    font-size: 1em;
    text-align: left;
  }
}

#team-page {
  .team-header {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-bottom: 3px solid #fff;
  }
  hr {
    margin: 5rem 0;
    border-top: 1px solid rgb(255,255,255);
  }
}

#code-of-conduct {
  .coc-header {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-decoration: underline;
    @media (min-width: 768px) {
      font-size: 3em;
    }
  }
  .coc-lead {
    color: $brand-lighter-pink;
    font-weight: normal;
    margin-bottom: 3rem;
  }
  p {
    margin-bottom: 30px;
  }
  .coc-title-accent {
    color: $brand-lighter-pink;
  }
}

#contact-information {
  .coc-contact-info {
    color: $brand-lighter-pink;
    font-weight: bolder;
    margin-bottom: 30px;
    display:table-cell;
  }

  p {
    margin-top: 20px;
  }

  a {
    color: $brand-lighter-pink;
  }
}

.navigation {
	font-size: 18px;
	text-align: center;
	padding-bottom: 1.5em;
	font-weight: 200;
  display: block;
  background: black;
}

.navigation a {
	color: white;
}

.nav-item {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 1.5em;
}

.navigation a:hover {
	color: white;
}

.navigation p {
	display: inline-block;
	vertical-align: middle;
}

.cusecLogo {
  width: 55px;
  margin-top: 1.2em;
}

.splash--section {
  height: 100vw;
  max-height: 600px;
  padding-top: 2em;
  @media (max-width: 768px) {
    button {
      margin-bottom: 1.2em;
    }
  }
  h2 {
    font-size: 1em;
    margin-bottom: 0.5em;
    @media (min-width: 768px) {
      font-size: 2em;
    }
  }
}

.mobileLogo {
	display: block!important;
	padding-bottom: 1.5em;
}

#footer {
  background: black;
	color: white;
	padding: 2%;
  line-height: 0.1;
  margin-top: 30px;

  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
  }
  .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }

  .social-icon a {
    color: #fff;
    padding: 5px;
    font-size: 40px;
    width: 100px;
    height: auto;
    display: block;
  }

  .social-icon a:hover {
    color: $brand-dark-pink;
  }

  .link-cusec {
    color: $brand-dark-pink;
  }

  p {
    margin-top: 5%;
    margin-bottom: 2%;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-align: center;
  }
}

#schools-page {
  p {
    text-align: center;
    margin-top: -10px;
  }

  h2 {
    color: $brand-lighter-pink;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
  }

  a {
    color: #fff;
  }

  a:hover {
    color: $brand-dark-pink
  }
}

.table {
  background-color: #fff;
  margin-bottom: 50px;
}
.table td, .table th {
  text-align: center;
  vertical-align: middle !important;
}

td.keynote {
  background-color: rgba(46, 204, 113, 0.1);
}
td.talk {
  background-color: rgba(26, 188, 156, 0.05)
}
td.workshop {
  background-color: rgba(52, 152, 219, 0.1);
}
td.event {
  background-color: rgba(155, 89, 182, 0.1);
}
td .note {
  color: #34495e;
  font-size: 12px;
}

.btn-group-days {
  margin-bottom: 50px;
}
.btn-group-days .btn {
  border-width: 0;
}
.btn-group-days .btn-day1 {
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#01e792), to(#27DEB6));
  background-image: -webkit-linear-gradient(left, #01e792, #27DEB6);
  background-image: -moz-linear-gradient(left, #01e792, #27DEB6);
  background-image: -o-linear-gradient(left, #01e792, #27DEB6);
}
.btn-group-days .btn-day2 {
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#27DEB6), to(#4DD5DA));
  background-image: -webkit-linear-gradient(left, #27DEB6, #4DD5DA);
  background-image: -moz-linear-gradient(left, #27DEB6, #4DD5DA);
  background-image: -o-linear-gradient(left, #27DEB6, #4DD5DA);
}
.btn-group-days .btn-day3 {
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#4DD5DA), to(#73CCFF));
  background-image: -webkit-linear-gradient(left, #4DD5DA, #73CCFF);
  background-image: -moz-linear-gradient(left, #4DD5DA, #73CCFF);
  background-image: -o-linear-gradient(left, #4DD5DA, #73CCFF);
}

.schedule-page {
  margin: 4em 0;
  color: #000000;
}

#sponsors {
  .sponsor-header {
    margin: 3rem 0
  }

  .sponsor-lead {
    font-weight: normal;
    margin-bottom: 3rem;
  }

  .row-buff{
    padding-bottom: 3em;
  }

  .partner{
    padding-bottom: 3em;
    img{
        padding: 15px;
        display: block;
        margin:  auto;
    }
}

  .sponsor-item{
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
    img {
      max-width: 50%;
    }
    @media (min-width: 768px) {
      img {
        max-width: 75%;
      }
    }
  }

  h2{
    margin: 0 0 30px 0;
    font-size: 32px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 1.5em;
    line-height: 1.5;

    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 80px;
      height: 2px;
      background: $brand-dark-pink;
      left: 50%;
      margin-left: -40px;
      bottom: 0;
    }
  }
}

#team-page {
  .team-header {
    margin-top: 3rem;
    margin-bottom: 3rem;
    @media (min-width: 768px) {
      font-size: 3em;
    }
  }

  .team-container {
    margin-bottom: 8rem;
  }

  .speaker-talk{
    h3{
        color: #db2186;
        margin-bottom: 1em;
    }
    hr{
        border-top: 1px solid #db2186;
        margin: 0;
        width: 75px;
        background: none;
        margin-bottom: 1em;
        margin-left: 40%;
    }
    color: #fff;
    padding-top: 5rem;
    @media (min-width: 768px){
        padding-top: 0;
        text-align: center;
    }
}

  .team-pic{
    figure {
        display: block;
        margin-bottom: 15px;
        img {
            margin-left: auto;
            margin-right: auto;
            max-width: 210px;
            border: 2px solid #fff;
        }
    }
    h3 {
        margin-bottom: 0px;
        color: #fff;
    }
    .team-position{
        color: #fff;
        display: block;
        margin-top: 0px;
        padding: 0.3em 1em 1em 1em;
    }

    .spk-social-media {
      display: block;
      margin-top: 0px;
      padding: 0.3em 1em 1em 1em;
    }

    a {
      color: #fff
    }

    a:hover {
      color: $brand-lt-pink;
    }
}
.team-person-bio{
    color: #fff;
    p.bio {
      margin-top:2rem;
    }
}
}
