<footer id="footer">
     <div id="upperFooter">
        <div class="container">
                <div class="team-member text-center">
                    <ul class="list-inline social-icon">
                        <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o"></i></a>
                        </li>
                        <li><a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}"><i
                                        class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a target="_blank" href="https://instagram.com/{{ site.instagram_username }}"><i class="fa fa-instagram"></i></a></li>
                    </ul>
            </div>
        </div>
    </div>
    <div class ="container text-center">
        <p>&copy; CUSEC 2018. All Rights Reserved. </p>
    </div>
</footer>