<nav class = "navigation">
    <div class="container">
        <div class="row mobileLogo">
            <div class="col-xs-12 col-md-12 hidden-lg">
              <a href="index.html"><img class="img-responsive center-block" src="assets/imgs/power_cusec_symbol.png" style="width:70px">
            </div>
          </div>
      <div class="row">
    </div>
    <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{"#fh5co-venue" | prepend: site.baseurl }}" data-nav-section="venue"><span class="{{ include.background }}">Venue</span></a></li>
                <li><a href="{{"#fh5co-about" | prepend: site.baseurl }}" data-nav-section="about"><span class="{{ include.background }}">About</span></a></li>
                <li><a href="{{"/schedule/" | prepend: site.baseurl }}" data-nav-section="schedule" class="external"><span class="{{ include.background }}">Schedule</span></a></li>
                <li><a href="{{"#fh5co-speakers" | prepend: site.baseurl }}" data-nav-section="speakers"><span class="{{ include.background }}">Speakers</span></a></li>
                <li><a href="{{"/sponsors/" | prepend: site.baseurl }}" data-nav-section="sponsors" class="external"><span class="{{ include.background }}">Sponsors</span></a></li>
                <li><a href="{{"/schools/" | prepend: site.baseurl }}" data-nav-section="schools" class="external"><span class="{{ include.background }}">Schools</span></a></li>
                <li><a href="{{"/team/" | prepend: site.baseurl }}" data-nav-section="team" class="external"><span class="{{ include.background }}">Team</span></a></li>
                <li><a href="{{"/workshops/" | prepend: site.baseurl }}" data-nav-section="workshops" class="external"><span class="{{ include.background }}">Workshops</span></a></li>
                <li><a href="{{"/codeofconduct/" | prepend: site.baseurl }}" data-nav-section="code" class="external"><span class="{{ include.background }}">Code of Conduct</span></a></li>
            </ul>
    </div>
</nav>