<nav class = "navigation">
    <div class="container">
        <div class="row mobileLogo">
            <div class="col-xs-12 col-md-12 hidden-lg">
                <a href="index.html"><img class="img-responsive center-block" src="assets/imgs/power_cusec_symbol.png" style="width:70px"></a>
            </div>
        </div>
        <ul class="nav justify-content-center">
            <li class="nav-item"><a href="{{"/venue" | prepend: site.baseurl }}">Venue</a></li>
            <li class="nav-item"><a href="{{"/about" | prepend: site.baseurl }}">About</a></li>
            <li class="nav-item"><a href="{{"/schedule/" | prepend: site.baseurl }}">Schedule</a></li>
            <li class="nav-item"><a href="{{"/speakers" | prepend: site.baseurl }}">Speakers</a></li>
            <li class="nav-item"><a href="{{"/sponsors/" | prepend: site.baseurl }}">Sponsors</a></li>
            <li class="nav-item"><a href="{{"/schools/" | prepend: site.baseurl }}">Schools</a></li>
            <li class="nav-item"><a href="{{"/team/" | prepend: site.baseurl }}">Team</a></li>
            <li class="nav-item"><a href="{{"/workshops/" | prepend: site.baseurl }}">Workshops</a></li>
            <li class="nav-item"><a href="{{"/codeofconduct/" | prepend: site.baseurl }}">Code of Conduct</a></li>
        </ul>
    </div>
</nav>