<div id="{{ speaker.section }}" class="row justify-content-center align-items-center">
        <div class="col-md-3 col-md-offset-2">
            <div class="team-pic text-center" >
                <figure><img src="{{ "/assets/speakers/" }}{{ speaker.pic | default: 'placeholder.png' }}" alt="Image" class="rounded-circle img-fluid"></figure>
                <h3><strong>{{ speaker.name }}</strong></h3>
                {% if speaker.twitter and speaker.website %}
                <div class="spk-social-media"><a href="https://twitter.com/{{ speaker.twitter }}"><em>@{{ speaker.twitter }}</em></a> | <a href="{{ speaker.website }}"><em>Website</em></a></div>
                
                {% elsif speaker.twitter %}
                <a href="https://twitter.com/{{ speaker.twitter }}"><span class="spk-social-media"><em>@{{ speaker.twitter }}</em></span></a>
                {% elsif speaker.website %}
                <a href="{{ speaker.website }}"><span class="spk-social-media"><em>Website</em></span></a>
                {% endif %}
                {% if speaker.social %}
                <ul class="social social-circle">
                    {% for media in speaker.social %}
                    <li><a href="{{ media.url }}"><i class="icon-{{ media.title }}"></i></a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            {% if speaker.title %}
                <div class="speaker-talk text-left">
                    <h3>{{ speaker.title | default: 'Talk title coming soon!'}}</h3>
                    <p>{{ speaker.abstract | default: 'Description coming soon!'}}</p>
                    <hr class="to-animate"/>
                </div>
            {% endif %}
            <div class="team-person-bio text-left">
                <p class="bio">{{ speaker.bio | default: 'Bio coming soon!' }}</p>
            </div>
        </div>
    </div>
    {% if forloop.last == false %}
      <hr/>
    {% endif %}
    