<div class="row justify-content-center align-items-center">
    <div class="col-md-3 col-md-offset-2">
        <div class="team-pic text-center" id="{{ team.twitter }}">
            <figure><img src="{{ "/assets/team/" | prepend: site.url }}{{ team.pic | default: 'placeholder.png' }}" alt="Image" class="rounded-circle img-fluid"></figure>
            <h3><strong>{{ team.name }}</strong></h3>
            <span class="team-position"><em>{{ team.position }}</em></span>
            {% if team.social %}
            <ul class="social social-circle">
                {% for media in team.social %}
                <li><a href="{{ media.url }}"><i class="icon-{{ media.title }}"></i></a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="team-person-bio text-left">
            <p class="bio">{{ team.bio | default: 'Description coming soon!' }}</p>
        </div>
    </div>
</div>
{% if forloop.last == false %}
  <hr/>
{% endif %}
