<!DOCTYPE html>
<html> 
    {% include head.html %}
    <body>
        <div id="main">
           {% include nav.html %}
           {% include banner.html %}
        </div>
        {{ content }}
        {% include footer.html %}
        <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    </body>
</html>